<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h1>Encontre Seu Novo <span class="highlight">Melhor amigo</span></h1>
      <p>
        Nosso objetivo é facilitar o encontro entre pets que precisam de um lar e pessoas dispostas a adotar.
        Assim como em plataformas de compra e venda, oferecemos um espaço onde você pode cadastrar animais disponíveis para adoção.
      </p>
      <div class="hero-buttons">
        <app-button label="Encontre um 🐰"></app-button>
        <app-button label="Cadastre um 🐶🐱" buttonType="secondary"></app-button>
      </div>
    </div>
    <div class="hero-image">
      <img src="./assets/dog-image.png" alt="Dog">
    </div>
  </div>
</section>
