* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.register-btn .btn {
  padding: 8px 12px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-btn .btn:hover {
  background-color: #f5f5f5;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Ocultar as opções de navegação em telas pequenas */
  }

  .navbar {
    flex-direction: column;
  }

  .register-btn {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }
}
