<header class="navbar">
  <div class="logo">
    <h1>DogAdota</h1>
  </div>
 <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li> 
      <li><a href="#sobre">Sobre</a></li> 
      <li><a href="#animais">Encontre o Seu</a></li> 
      <li><a href="#">Cadastre um</a></li> 
      <li><a routerLink="/login">Login</a></li>  <!-- Rota de login -->
    </ul>
  </nav>
  <div class="register-btn">
    <a routerLink="/registro" class="btn">Cadastre-se</a>  <!-- Rota de registro -->
  </div>
</header>


