<div class="container">
  <h1>Animais Cadastrados</h1>

  <!-- Botão para abrir o modal -->
  <button (click)="mostrarModal = true">
    Cadastrar Animal
  </button>

  <!-- Modal -->
  <div *ngIf="mostrarModal" class="modal-overlay" (click)="fecharModal($event)">
  
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-button" (click)="mostrarModal = false">&times;</button>
      <h2>{{ editandoId ? 'Editar Animal' : 'Cadastrar Animal' }}</h2>
      <form (ngSubmit)="salvarAnimal()" class="form-animal">
        <input
          type="text"
          placeholder="Nome"
          [(ngModel)]="novoAnimal.nome"
          name="nome"
          required
        />
        <input
          type="text"
          placeholder="Idade"
          [(ngModel)]="novoAnimal.idade"
          name="idade"
          required
        />
        <input
          type="text"
          placeholder="Tipo (Ex: Gato, Cachorro)"
          [(ngModel)]="novoAnimal.tipo"
          name="tipo"
          required
        />
        <input
          type="text"
          placeholder="Localização"
          [(ngModel)]="novoAnimal.localizacao"
          name="localizacao"
          required
        />
        <input
          type="text"
          placeholder="Número de celular"
          [(ngModel)]="novoAnimal.contato"
          name="contato"
          required
        />
        <textarea
          placeholder="Descrição"
          [(ngModel)]="novoAnimal.descricao"
          name="descricao"
          rows="4"
          required
        ></textarea>
        <input
          type="text"
          placeholder="URL da Imagem"
          [(ngModel)]="novoAnimal.imagemUrl"
          name="imagemUrl"
          required
        />
        <button type="submit">
          {{ editandoId ? 'Atualizar' : 'Cadastrar' }}
        </button>
      </form>
    </div>
  </div>

  <!-- Listagem de Animais em Cards -->
  <div class="animais-lista">
    <div *ngFor="let animal of animais" class="card">
      <img [src]="animal.imagemUrl" alt="Foto do animal" />
      <h2>{{ animal.nome }}</h2>
      <p><strong>Idade:</strong> {{ animal.idade }}</p>
      <p><strong>Tipo:</strong> {{ animal.tipo }}</p>
      <p><strong>Localização:</strong> {{ animal.localizacao }}</p>
      <p><strong>Contato:</strong> {{ animal.contato }}</p>
      <p>{{ animal.descricao }}</p>
      <button (click)="editarAnimal(animal)">Editar</button>
      <button (click)="excluirAnimal(animal.id)">Excluir</button>
    </div>
  </div>
</div>
